@import "./variables";
@import "../../node_modules/bootstrap/scss/utilities";

.hero-carousel {
	margin-bottom: 4rem;

	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
		bottom: 3rem;
		z-index: 10;
	}

	/* Declare heights because of positioning of img element */
	.carousel-item {
		height: 32rem;
	}
	.carousel-item > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 32rem;
	}
	.hero-container {
		// Card link container

		.container::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(270deg, $primary-alt, black);
			opacity: 0.35;
			background-size: cover;
			overflow: hidden;
			color: white;
			z-index: 1;
		}

		.container > * {
			z-index: 1000;
		}

		.hero-btn {
			@extend .btn;
			font-size: 20px;
			text-transform: uppercase;
			color: $white-tca;
		}

		.hero-btn:hover {
			color: $white-tca;
		}
	}
}
