@import "./variables";
@import "../../node_modules/bootstrap/scss/utilities";
// Create custom overlay for projects

// Project Card Styles

.project-card {
	@extend .card;

	.project-links {
		text-decoration: none;
	}

	.project-body {
		@extend .card-body;
		text-align: justify;
	}

	.project-image {
		min-width: 100%;
		height: 200px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.project-title,
	.project-text {
		text-decoration: none;
		text-transform: uppercase;
		color: $primary-alt;
	}
}

// Project hover state
.project-card:hover {
	cursor: pointer;

	.project-title,
	.project-text {
		color: $white-tca;
		// text-decoration: underline;
		cursor: pointer;
	}

	.project-body {
		background-color: $primary;
	}
}
