@import "./variables";
@import "./nav";
@import "./projects";
@import "./about";
@import "./carousel";
@import "./reactPlayer";
@import "./serviceCards";
@import "./reviewForm";
@import "../../node_modules/bootstrap/scss/utilities";

// Hero Button
.btn-cta {
	background: #12487b;
	color: #fff;
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	// Removes scroll bounce once the boundary is reached
	overscroll-behavior: none;
}
// Main content wrapper
.wrapper {
	margin: 0 auto;
	line-height: 1.2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

p,
a,
span,
button {
	font-family: "Open Sans", sans-serif;
}

// spacing for the sections classes
.sections {
	margin: 0 60px;
	padding: 16px;
}

// NAVIGATION
.nav-banner {
	color: $white-tca;
	padding: 8px;
	background-color: $primary-alt;
}

.site-banner {
	background: linear-gradient(
		240deg,
		map-get($theme-colors, "primary-alt"),
		map-get($theme-colors, "tertiary-tca")
	);
	color: $white-tca;
	font-weight: bold;
	padding: 40px 0;
	text-align: center;
	line-height: 22px;
}

// Mobile NAV
.mobile-nav {
	background-color: $primary-alt;
	color: $white-tca;
	font-size: 12px;
	overflow-x: hidden;
}

// END OF NAVIGATION

// Welcome Section

.clients-list {
	overflow: hidden;

	ul {
		display: flex;
		width: 5076px;
		height: 100%;
		animation: slide infinite 80s linear;
		white-space: nowrap;
	}

	li {
		list-style: none;
		padding: 20px;
		margin: 0 50px;
		height: 100%;
		font-weight: bold;
		font: 35px;
		color: $primary-alt;
	}

	li:hover {
		cursor: default;
	}

	ul:hover {
		animation-play-state: paused;
	}

	@keyframes slide {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(-5076px, 0, 0);
		}
	}
}

// Services section

#custom-cards {
	// Card link container
	a {
		text-decoration: none;
		transition: 0.3s;
		color: $white-tca;
	}

	a:hover {
		transform: scale(1.2);
		text-decoration: underline;
		color: $white-tca;
	}

	.image-container::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $primary-alt;
		opacity: 0.25;
		background-size: cover;
		overflow: hidden;
		color: white;
		z-index: 1;
	}

	.image-container > * {
		z-index: 1000;
	}
}

// UTILITIES
.social {
	font-size: 2rem;
	color: $white-tca;
	transition: 0.5ms;

	&:hover {
		transform: scale(1.2);
	}
}

// Company logo
.alchemized {
	color: $white-tca;
	text-decoration: none;
	line-height: 1.5;

	&:hover {
		text-decoration: underline;
		color: $white-tca;
	}
}

// Review star system
// .checked {
// 	color: gold;
// }
// END OF UTILITIES

// MEDIA QUERIES

//  XL AND UP
@media only screen and (min-width: 1440px) {
}
//  LG AND UP
@media only screen and (min-width: 1024px) {
}

// MD AND UP
@media only screen and (min-width: 768px) {
}

// SM AND DOWN
@media only screen and (max-width: 425px) {
	// Shrink font on smaller screen
	.nav-banner {
		font-size: 11px;
		padding: 8px 0;
	}

	// Hero Section
	.hero-btn {
		padding: 8px;
		font-size: 16px;
	}

	// Footer contact form button (not on contact page)
	#contact-btn span {
		// Hide certain words on smaller screens
		display: none;
	}

	// Home Welcome section
	.welcome {
		h2 {
			font-size: 25px;
		}
	}

	footer,
	footer h5 {
		font-size: 14px;
	}

	#welcome {
		font-size: 20px;
	}

	// Adjust section margins
	.sections {
		margin: 0 14px;
	}

	// Shrink icons
	.social {
		font-size: 2rem;
	}

	// Hide footer links on mobile
	.ft-phone,
	.ft-email {
		display: none;
	}
}
